<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Failed suite [Suite]</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="679bde">  <td>20/01/30 18:05:21</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Online_005_LOC_WithDrawal.OnlineAdvance()[pri:0, instance:com.afqa.testsuite_RS.Online_005_LOC_WithDrawal@16c0663d]">OnlineAdvance</td> 
  <td>main@968514068</td>   <td></td> </tr>
<tr bgcolor="807e85">  <td>20/01/30 18:06:49</td>   <td>87650</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Store_006_MinPayDue_Card.Store_MinDuePay_Card()[pri:0, instance:com.afqa.testsuite_RS.Store_006_MinPayDue_Card@1b40d5f0]">Store_MinDuePay_Card</td> 
  <td>main@968514068</td>   <td></td> </tr>
</table>
